.button {
  background: #2d3436;
  color: #fff;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
}
.button:hover {
  background: transparent;
  color: #2d3436;
}

.button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}

